/* CSS HEX */
:root {
  --onyx: #474448ff;
  --raisin-black: #2d232eff;
  --bone: #e0ddcfff;
  --wenge: #534b52ff;
  --isabelline: #f1f0eaff;
  --vogue-bg: var(--bone);
  --elle-bg: var(--wenge);
  --trending-items-bg: var(--isabelline);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey; /* Changed from white */
}

.App-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 3em;
  color: #5A464C;
}

h3 {
  font-size:2em;
}

p {
  font-size: 1.5rem;
  color: #53131E;
}
.Bookshelf,
.Bookshelftwo,
.FashionTrends {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--onyx);
  border-radius: 10px;
  background-color: var(--trending-items-bg);
  width: 300px;
}

#ins_outs {

  background-color: darkgrey;
  margin-bottom: 30px;
  width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}